<section class="violet">
  <h2 class="heading">Certifications</h2>
  <div class="row justify-content-md-center text-center">
    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        <a href=https://www.youracclaim.com/badges/b33f8a47-caed-43fa-a076-bb9628bcab1f/linked_in_profile><img src="https://images.youracclaim.com/images/636626c9-b27f-4d01-9d56-db30410bb80a/CSS_Auzre_App_Services_OSS.png"  style="display: block; margin: 0 auto; width: 200px; height: 200;"> <IMG></a>
          <a href=https://www.youracclaim.com/badges/b33f8a47-caed-43fa-a076-bb9628bcab1f/linked_in_profile><h5 class="mt-4">Azure App Service OSS</h5></a>
        <p class="text-muted">Earners of the Azure App Service Open Source Software badge have obtained knowledge in using OSS frameworks within Azure App Service. This includes PHP, WordPress, Node.js, Java, Python, Ruby on Rails, and MySQL. A Specialist has also acquired skills in troubleshooting deployment using Git and BitBucket. They also have knowledge of hosting applications on Linux in App Service, including troubleshooting Docker-related issues.</p>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 mb-3">
      <div class="card p-4">
        <a href=https://www.youracclaim.com/badges/b6891086-e18c-4d8d-8d1d-d0a4e63a5699/linked_in_profile><img src="https://images.youracclaim.com/images/ae3ceec9-2e74-4f5f-9a59-4fad4277ce94/CSS_Azure_App_Service_Development.png"  style="display: block; margin: 0 auto; width: 200px; height: 200;"> <IMG></a>
          <a href=https://www.youracclaim.com/badges/b6891086-e18c-4d8d-8d1d-d0a4e63a5699/linked_in_profile><h5 class="mt-4">Azure App Service Development</a>    
        </h5>
        <p class="text-muted">Earners of the Azure App Service Development badge has achieved a comprehensive skill set in WebJobs, remote debugging, deploying apps to App Service, and gaining insights using Application Insights.</p>
      </div>
    </div>
  </div>
</section>
